<div class="wrapper">
  <form class="form">
    <div>
      <div>
        <label for="task"> </label>
        <input type="text" id="task" name="task" placeholder="Enter Task" />
      </div>

      <fieldset class="fieldset">
        <legend><h3>WHEN</h3></legend>
        <!-- <div class="labelbackground"> -->
        <label class="label">
          <input type="radio" id="date_1" name="when" value="" />
          Today
        </label>

        <label class="label">
          <input type="radio" id="date_2" name="when" value="" />
          Tomorrow
        </label>

        <label class="label">
          <input type="radio" id="date_3" name="when" value="" />
          Select Date
        </label>
        <!-- </div> -->
      </fieldset>
    </div>

    <button class="add-btn" type="submit">Add Task</button>
  </form>
</div>
