@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@200;300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --fw-primary: 200;
  --fw-primary-bold: 300;
  --fw-secondary-bold: 500;
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --text-primary: #393939;
  --text-primary-nav: #00000054;
  --text-secondary: #111111;
  --content-background: #d4d4d4;
  --content-background2: #d4d4d4c5;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary);
}
