.taskItem {
  display: block;
}
.taskItem:focus-within > .taskItem__labelText {
  text-decoration: line-through 0.14em var(--primary-color);
}
.taskItem__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
